<h1 style="text-shadow:2px 2px 0 #444" class="w3-text-sand w3-container w3-lobster">Home</h1>
<p class="w3-bar w3-sand w3-panel w3-padding-64">
  Welcome! You've reached the Pragmatic Catalog online store! Browse selection of books or place an order to purchase.
</p>



