<h1 style="text-shadow:2px 2px 0 #444" class="w3-text-sand w3-container w3-lobster">Editing Line Item</h1>

<%= render 'form', line_item: @line_item %>

<%= link_to 'Show', @line_item %> |
<%= link_to 'Back', line_items_path %>
