<!DOCTYPE html>
<html>

  <head>
   <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lobster">
<style>
.w3-lobster {
    font-family: "Lobster", serif;
}
</style>
    <title>Depot</title>
             
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body class="w3-container w3-light-blue">
 

  
    
     <a href="/static_pages/home" class="w3-button w3-round w3-border w3-border-sand w3-lobster">Home</a>
    <a href="/store/index" class="w3-button w3-round w3-border w3-border-sand w3-lobster">Store</a>
      <a href="/products" class="w3-button w3-round w3-border w3-border-sand w3-lobster">Products</a>
    <a href="/carts" class="w3-button w3-round w3-border w3-border-sand w3-lobster">Cart</a>
    <a href="/line_items" class="w3-button w3-round w3-border w3-border-sand w3-lobster">Line Items</a>

  
 <p class="w3-margin-bottom"></p>
   
    <%= yield %>
  

    


  </body>
</html>
