<!DOCTYPE html>
<html>

  <head>
   <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lobster">
<style>
.w3-lobster {
    font-family: "Lobster", serif;
}
</style>
    <title>Myquotes</title>
             
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body class="w3-container w3-light-blue">
 

  
    
     <a href="/static_pages/home" class="w3-button w3-round w3-border w3-border-sand w3-lobster">Home</a>
      <a href="/quotes" class="w3-button w3-round w3-border w3-border-sand w3-lobster">Quotes</a>
      <a href="/static_pages/help" class="w3-button w3-round w3-border w3-border-sand w3-lobster">Help</a>
      <a href="/static_pages/about" class="w3-button w3-round w3-border w3-border-sand w3-lobster">About</a>
  
 <p class="w3-margin-bottom"></p>
   
    <%= yield %>
  

    


  </body>
</html>
